<h2 mat-dialog-title>{{titoloDialog}}</h2>
<form [formGroup]="opzioniForm" (ngSubmit)="salvaProdotto(opzioniForm.value)">
<mat-dialog-content>
<div class="example-container">   
        <mat-form-field>
                <mat-select formControlName="tipoCottura" id="tipoCottura" placeholder="Tipo cottura" > 
                        <mat-option value="Al Sangue">Al Sangue</mat-option>
                        <mat-option value="Ben Cotto">Ben cotto</mat-option>
                        <mat-option value="Medio">Medio</mat-option>
                </mat-select>
        </mat-form-field>
        
        <mat-form-field >
                <mat-select formControlName="opzione" id="opzione" placeholder="Opzione" >
                        <mat-option value="Doppio Hamburger">Doppio Hamburger</mat-option>
                        <mat-option value="Normale">Normale</mat-option>
                </mat-select>
        </mat-form-field>
        
        <mat-form-field>
                <mat-select formControlName="bibita" id="bibita" placeholder="Bibita" required>
                        <mat-option value="Coca Cola 33cl">Coca Cola 33cl - In vetro</mat-option>
                        <mat-option value="Fanta 33cl">Fanta 33cl - In vetro</mat-option>
                        <mat-option value="Sprite 33cl">Sprite 33cl - In vetro</mat-option>
                        <mat-option value="Coca Cola Zero">Coca Cola Zero 33cl - In vetro</mat-option>
                </mat-select>
                <mat-error *ngIf="bibita.hasError('required')">Required</mat-error>
        </mat-form-field>

        <label id="hamburger-ingredienti-label">Ingredienti</label>
        <mat-list>
            <mat-list-item *ngFor="let opzione of listaOpzioniSelezionate">
                <h4 mat-line>{{opzione.nomeOpzione}}
                        <span *ngIf="opzione.quantita!=0" 
                                matBadge="{{opzione.quantita}}" matBadgeOverlap="false"
                                matBadgePosition="before"
                                matBadgeColor="accent" ></span>
                </h4>                                            
                <button class="btn" type="button"
                    (click)="aggiungiOpzione(opzione)">
                        <i class="fa fa-plus"></i>
                </button>
                <button class="btn ml-4" type="button"
                    (click)="rimuoviOpzione(opzione)">
                        <i class="fa fa-minus"></i>
                </button>
            </mat-list-item>
        </mat-list> 
</div>
</mat-dialog-content>
<mat-dialog-actions>
        <button mat-button color="basic" type="submit" >
                <i class="fa fa-floppy-o"></i> Save
        </button>
        <button mat-button (click)="chiudi()" color="basic" type="button">
                <i class="fa fa-times"></i> Cancel
        </button>
</mat-dialog-actions>
</form>   