    <div class="container-products container">
        <div class="row">
            <div class="col-md-8">
                <h5>Menu</h5>
                <div class="jumbotron product-menu">
                    <form #createForm="ngForm" (ngSubmit)="aggiornaOrdine(createForm.value)">
                    <div class="container">
                        <div class="row card">
                            <div class="col-md-12 col-sm-12  mb-2">                                
                                   <label id="crea-hamburger-label">Tipo Hamburger</label>
                                     <mat-radio-group
                                        aria-labelledby="crea-hamburger-label" class="radio-group" 
                                        (ngModel)="tipoHamburger" name="tipoHamburger" required>
                                        <mat-radio-button class="radio-button" [class.error]="createForm.controls.tipoHamburger?.invalid && createForm.controls.tipoHamburger?.touched" *ngFor="let tipo of tipi" [value]="tipo">
                                            {{tipo}}
                                        </mat-radio-button>
                                        <em *ngIf="createForm.controls.tipoHamburger?.invalid && createForm.controls.tipoHamburger?.touched" class="error">Seleziona il Tipo Hamburger</em>
                                    </mat-radio-group>
                                    
                                    <label id="crea-hamburger-label">Ingredienti</label>
                                    <mat-list>
                                        <mat-list-item *ngFor="let opzione of listaOpzioniSelezionate">
                                            <h4 mat-line>{{opzione.nome}}
                                                <span *ngIf="!opzione.quantita==0" 
                                                       matBadge="{{opzione.quantita}}" matBadgeOverlap="false"
                                                       matBadgePosition="before"
                                                       matBadgeColor="accent" ></span>
                                            </h4>                                            
                                            <button class="btn" type="button"
                                                (click)="aggiungiProdotto(opzione)">
                                                    <i class="fa fa-plus"></i>
                                            </button>
                                            <button class="btn ml-4" type="button"
                                                *ngIf="!opzione.quantita==0" 
                                                (click)="rimuoviProdotto(opzione)">
                                                    <i class="fa fa-minus"></i>
                                            </button>
                                        </mat-list-item>
                                    </mat-list>                                    
                            </div>
                            <button mat-raised-button type="submit"
                                    [disabled]="createForm.invalid">
                                Aggiungi </button>
                        </div>
                    
                    </div>
                </form>
                </div>
            </div>

            <div class="col-md-4">
                <orders-container></orders-container>
            </div>
        </div>
    </div>