
<!-- <form [formGroup]="opzioniForm" (ngSubmit)="salvaProdotto()"> -->
    <div class="container-products container">
        <div class="row">
            <div class="col-md-8">
                <h5>Menu</h5>
                <div class="jumbotron product-menu">
                    <div class="container">
                        <div class="row card">
                            <div class="col-md-12 col-sm-12  mb-2">                                
                                    <label id="crea-hamburger-label">Tipo Hamburger</label>
                                    <mat-radio-group
                                        aria-labelledby="crea-hamburger-label" class="radio-group" [(ngModel)]="tipoHamburger">
                                        <mat-radio-button class="radio-button" *ngFor="let tipo of tipi" [value]="tipo">
                                            {{tipo}}
                                        </mat-radio-button>
                                    </mat-radio-group>

                                    <label id="crea-hamburger-label">Ingredienti</label>
                                    <mat-list>
                                        <mat-list-item *ngFor="let opzione of listaOpzioniSelezionate">
                                            <h4 mat-line>{{opzione.nome}}
                                                <span *ngIf="!opzione.quantita==0" 
                                                       matBadge="{{opzione.quantita}}" matBadgeOverlap="false"
                                                       matBadgePosition="before"
                                                       matBadgeColor="accent" ></span>
                                            </h4>                                            
                                            <button class="btn" (click)="aggiungiProdotto(opzione)">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            <button class="btn ml-4" *ngIf="!opzione.quantita==0" 
                                                    (click)="rimuoviProdotto(opzione)">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </mat-list-item>
                                    </mat-list>                                    
                            </div>
                            <button mat-raised-button>Aggiungi</button>
                        </div>
                    
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <orders-container></orders-container>
            </div>
        </div>
    </div>
<!-- </form> -->
    
        