    <div class="container-products container">
        <div class="row">
            <div class="col-md-8">
                <h5>Menu</h5>
                <div class="jumbotron product-menu">
                    <form [formGroup]="creaForm" (ngSubmit)="aggiornaOrdine(creaForm.value)">
                    <div class="container">
                        <div class="row card">
                            <div class="col-md-12 col-sm-12  mb-2">                                
                                   <label id="crea-hamburger-label">Tipo Hamburger</label>
                                     <mat-radio-group aria-labelledby="crea-hamburger-label" class="radio-group" formControlName="tipoHamburger"
                                        (ngModel)="tipoHamburger" name="tipoHamburger" required>
                                        <mat-radio-button class="radio-button" [class.error]="creaForm.controls.tipoHamburger?.invalid && creaForm.controls.tipoHamburger?.touched" *ngFor="let tipo of tipi" [value]="tipo">
                                            {{tipo}}
                                        </mat-radio-button>
                                        <em *ngIf="creaForm.controls.tipoHamburger?.invalid && creaForm.controls.tipoHamburger?.touched" class="error">Seleziona il Tipo Hamburger</em>
                                    </mat-radio-group>

                                    <label id="crea-hamburger-label">Opzioni</label> 
                                    <mat-radio-group aria-labelledby="crea-hamburger-label" class="radio-group" formControlName="opzione" (ngModel)="option" name="opzione">
                                        <mat-radio-button class="radio-button" *ngFor="let opzione of opzioni" [value]="opzione">
                                            {{opzione}}
                                        </mat-radio-button>
                                    </mat-radio-group>

                                    <mat-form-field>
                                            <mat-select formControlName="bibita" id="bibita" placeholder="Bibita" required >
                                                    <mat-option value="Coca Cola 33cl">Coca Cola 33cl</mat-option>
                                                    <mat-option value="Fanta 33cl">Fanta 33cl</mat-option>
                                                    <mat-option value="Sprite 33cl">Sprite 33cl</mat-option>
                                                    <mat-option value="Coca Cola Zero">Coca Cola Zero 33cl</mat-option>
                                            </mat-select>
                                    </mat-form-field>
                                    <br>
                                    <label id="crea-hamburger-label">Ingredienti</label>
                                    <mat-list>
                                        <mat-list-item *ngFor="let opzione of listaOpzioniSelezionate">
                                            <h4 mat-line>{{opzione.nomeOpzione}}
                                                <span *ngIf="opzione.quantita!=0" 
                                                       matBadge="{{opzione.quantita}}" matBadgeOverlap="false"
                                                       matBadgePosition="before"
                                                       matBadgeColor="accent" ></span>
                                            </h4>                                            
                                            <button class="btn" type="button"
                                                (click)="aggiungiProdotto(opzione)">
                                                    <i class="fa fa-plus"></i>
                                            </button>
                                            <button class="btn ml-4" type="button"
                                                *ngIf="opzione.quantita!=0" 
                                                (click)="rimuoviProdotto(opzione)">
                                                    <i class="fa fa-minus"></i>
                                            </button>
                                        </mat-list-item>
                                    </mat-list>                                    
                            </div>
                            <button mat-raised-button type="submit"
                                    [disabled]="creaForm.invalid || (creaForm.controls.opzione?.value == 'menu' && creaForm.controls.bibita?.value != '') ">
                                Aggiungi </button>
                        </div>
                    
                    </div>
                </form>
                </div>
            </div>

            <div class="col-md-4">
                <orders-container></orders-container>
            </div>
        </div>
    </div>