<h5> Sezione ordini</h5>
<div class="jumbotron orders">
    <hr>
    <div class="row">
            <div class="col-md-4 col-sm-4 orders-icon-container">
                <div>
                    <i class="fa fa-money fa-2x" title="Contanti"></i> 
                </div>
                <div>
                    <p>Contanti</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 orders-icon-container">
                <div>
                    <i class="fa fa-credit-card fa-2x" title="Carte"></i>
                </div>
                <div>
                    <p>Carte</p>
                </div>
                
                
            </div>
            <div class="col-md-4 col-sm-4 orders-icon-container">
                <div>
                    <i class="fa fa-paypal fa-2x" title="Paypal"></i></div>
                <div>
                    <p>Paypal</p>
                </div>
            </div>
        </div>
</div>