/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html, body{
    min-height: 100%;
    height: 100%;
    margin: 0%
}
body{background-color:#344955 !important}
.spacer{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

@media(min-width: 576px){
    .alergy-alert hr{ display: none; }
}

/*Grid percentages*/
@media(min-width: 340px){
    .col-sm-1 {
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    .col-sm-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-sm-5 {
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    /*Volutamente messi a 100%*/
    .col-sm-6, .col-md-6{
        flex: 0 0 100% !important; 
        max-width: 100% !important;
    }
    .col-sm-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    .col-sm-8 {
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    } 
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-sm-11 {
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    

    

}

@media(max-width: 576px){
    .menu .card{ margin: 0 1rem 0 1rem;}
}

@media(max-width: 770px){
    .menu-descrizione .descrizione { color:black;}
    .container-products .row h5{color:white}
    .container-products .product-title h5{color: black;}
}

@media(min-width:1025px){
    .descrizione{
        display: none;
    }
}

.alergy-alert hr{border-top-color:white;}
#list-nav-bar .nav-link.active, #list-nav-bar .dropdown-item.active, #list-nav-bar .dropdown-item:active{color: #F9AA33;}
#menu-navbar, #list-nav-bar .dropdown-item, #list-nav-bar .dropdown-menu{background-color: #344955 !important;}
#list-nav-bar .dropdown-item.active, #list-nav-bar .dropdown-item:active{background-color:#4A6572 !important}
#menu-navbar .nav-link, #list-nav-bar .dropdown-item, #list-nav-bar .dropdown-menu{color:white;}
.container .jumbotron{
    background-color: #4A6572;
    color:white;
}
.nav-item{padding: 0 5px 0 5px;}
.menu-descrizione{color:black}
.menu-descrizione button{text-align: right;background-color: #4A6572;color: white;}
.menu-descrizione button:hover{background-color: #b2c4cd}
.container h5{color:white}
.main-router-outlet{padding: 1rem 0 1rem 0;}
.imgContainer {position: relative;}
.image {opacity: 1;display: block;width: 100%;height: auto;transition: .5s ease;backface-visibility: hidden;}
.middle {transition: .5s ease;opacity: 0;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);-ms-transform: translate(-50%, -50%);text-align: center;}
.imgContainer:hover .image {opacity: 0.3; cursor: pointer;}
.imgContainer:hover .middle {opacity: 1; cursor: pointer;} 
.text {font-size: 22px; color:white}
.descrizione h6{text-align: center}
.descrizione{width: 100%; color:white}
.menu .card{border:0;background-color: #E8E8E8;}
.product-title h6{font-weight: bold;}
.container-products .jumbotron{background-color:#E8E8E8}
.card, .container-products h5, .orders p, .product-menu .fa, .container .utente{color:#535353;}
.orders .fa, .orders .fas, .orders .far, .orders .fab, .orderCount{color:#F9AA33}
.orders-icon-container{text-align: center}
.example-container {display: flex; flex-direction: column;}  
.example-container > * {width: 100%;}
.product-menu .btn{padding: 0%;vertical-align: unset;}
#toast-container *{background-color: green}
.radio-group{display:flex; flex-direction:column;margin:5px 15px;}
.radio-button{margin:5px;}
#crea-hamburger-label{margin-top:10px; font-weight: bold;}
.quantita{margin: 5px 2% 5px 5px;}
.mat-badge-medium.mat-badge-after .mat-badge-content{right:-24px}
.mat-badge-medium.mat-badge-before .mat-badge-content{left:5px}
.mat-badge-medium.mat-badge-above .mat-badge-content{top:0}
.mat-badge-medium .mat-badge-content{width:19px; height:18px;line-height: 20px;}
.mat-badge-accent .mat-badge-content{background-color:#F9AA33; color:black;}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{border-color:#F9AA33; background-color: #F9AA33; }
.error{color:red}
.ordini-tree-invisible{display: none;}  
.ordini-tree ul,.ordini-tree li {margin-top: 0;margin-bottom: 0;list-style-type: none;}
.orders .mat-list-item-content {display: block !important;}
.orders .delete .fas{position: absolute;margin-top: 0;}
ul{list-style: none;}
.list-opzioni{margin:0; padding:0;}
.orders .mat-list-base .mat-list-item, .orders .mat-list-base .mat-list-option{height:auto;}
.opzioni-details{font-size: 0.8rem; margin-left: 30px;}
.full{width: 100%}
.order-button{float: right;width: 50%;text-align: center;color: #4A6572;background-color: #F9AA33;}
.order-detail-font{font-size:0.9rem}
.order-detail-fa{vertical-align: top; font-size: 0.9rem}
.fa-angle-right, .fa-maxcdn, .fa-trash{cursor: pointer;}